body {
    background-color: black;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

div {
    position: relative;
    z-index: 100;
}

#backgroundImg {
    width: 100%;
}

#bgImg {
    position: fixed;
    height: 100%;
    transform: translate(-35%, 0);
    z-index: 0;
}

#mainHeader {
    position: relative;
    z-index: 100;
    color: white;
    text-shadow: 0 0 10px gray;
    font-size: 2em;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", monospace;
    word-break: break-word;
}

#mainText {
    position: relative;
    z-index: 50;
    width: 90%;
    font-size: 1em;
    background-color: black;
    box-shadow: 0 0 100px 200px black;
    margin: 0 5% 100% 5%;
    font-family: sans-serif;
    text-align: center;
}

#mainElements {
    width: 100%;
    position: absolute;
    top: 90%;
}

#challengeText {
    width: 100%;
    word-break: break-word;
    color: #B60B0B;
}

#carImg {
    width: 90%;
    box-shadow: 0 0 10px 2px #B60B0B;
    margin-bottom: 2vh;
    border-radius: 1vw;
}